@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Rubik:wght@400;500;700&display=swap');
:root {
  --primary: #1663D6;
  --checked: #02B693;
  --remove: #EF603A;
  --progress: #29B6F6;
  --new-task: #ACACAC;
  --background: #F4F7FB;
  --dark-blue: #2C3E50;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main{
  background-color: var(--background);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--dark-blue);
  height: 100vh;
  overflow-y: hidden;
}

h1{
  font-weight: 700;
  font-size: 30px;
}

h3{
  position: relative;
}

p{
  font-weight: 400;
  font-size: 18px;
}

ul{
  list-style: none;
}

header{
  background-color: var(--primary);
  height: 90px;
}

aside{
  background-color: var(--dark-blue);
  height: 100vh;
  width: 140px;
  padding-top: 30px;
  display: inline-block;
}

aside p{
  color: #fff;
  font-weight: bold;
  padding: 5px 30px;
  background-color: #1F2C39;
}

.container{
  display: flex;
}

.sub-container{
  padding-top: 25px; 
  padding-left: 25px; 
  padding-right: 140px;
  padding-bottom: 140px;
  width: calc(100% - 140px); 
  overflow-y: scroll;
  height: 88vh;
}

.sub-container::-webkit-scrollbar {
  display: none;
}

/*  LABELS  */
.sub-container-row{
  display: flex;
  grid-column: 1/11;
  justify-content: space-between;
  margin: 45px 0;
}

.labels-wrapper{
  background-color: #fff;
  border-radius: 10px;
  padding: 10px;
  padding-right: 0;
  height: fit-content;
  box-shadow: 0px 6px 29px rgba(0, 0, 0, 0.2) ;
}

.labels-wrapper ul li{
  display: inline-block;
  background-color: red;
  padding: 5px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  border-radius: 20px;
  margin-right: 10px;
}

.labels-wrapper ul li:last-child{
  background-color: transparent;
  color: var(--dark-blue);
  margin-right: 0;
}

.labels-wrapper ul li:nth-of-type(1){
  background-color: var(--new-task);
}

.labels-wrapper ul li:nth-of-type(2){
  background-color: var(--progress);
}

.labels-wrapper ul li:nth-of-type(3){
  background-color: var(--checked);
}

.labels-wrapper ul li:nth-of-type(4){
  background-color: var(--remove);
}

/*  TASKS  */
.tasks-wrapper{
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1.5fr;
  column-gap: 30px;
} 

.tasks-wrapper small{
  font-weight: 700;
  grid-column: 1/6;
  text-align: center;
  margin-top: 30px;
}

.task-item,
.new-task{
  grid-column: 1/6;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 1fr 1.5fr;
  column-gap: 30px; 
  align-items: center;
  margin-top: 15px;
  padding: 20px 0;
  background-color: #fff;
  box-shadow: 0px 6px 29px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  border-left: 10px solid;
}

.task-item p:nth-of-type(1){
  grid-column: 2;
}

.task-item p:nth-of-type(2){
  grid-column: 3;
}

.task-item article{
  grid-column: 5;
}

.new-task{
  border-color: var(--new-task);
  padding: 25px 0;
}

.new-task input{
  grid-column: 2;
}

.new-task p{
  grid-column: 3;
}

.state-new{
  border-color: var(--new-task);
}

.state-progress{
  border-color: var(--progress);
}

.state-done{
  border-color: var(--checked);
}

/*  input  */
input[type="text"]{
  outline: none;
  border: none;
  border-bottom: 1px solid var(--new-task);
  font-family: inherit;
  font-size: 18px;
  color:inherit;
  transition: 120ms all ease-in-out;
}
.new-task:focus-within {
  transform: scale(1.02);
  transition: 120ms all ease-in-out;
}

input[type="text"]::placeholder{
  font-family: inherit;
  color: var(--new-task);
}

/*  checkbox  */
input[type="checkbox"]{
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  font: inherit;
  width: 35px;
  height: 35px;
  border-radius: 5px;
  margin-right: 10px;
  position: relative;
  transition: 120ms all ease-in-out;
}

/*task-done*/
.task-done:hover{
 background-color: #C0E7DF;
 cursor: pointer;
}

.task-done:checked:hover{
 background-color: #2AD0B0;
 border-color: #2AD0B0;
 cursor: pointer;
}

.task-done::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 120ms all ease-in-out;

  /*icon*/
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f00c";
  color: var(--checked)
}

.task-done{
  border: 4px solid var(--checked);
}

.task-done:checked::before {
  color: #fff;
}

.task-done:checked {
  background-color: var(--checked);
}

/*progress-task*/
.task-progress{
  border: 4px solid var(--progress);
}

.task-progress:hover{
  background-color: #96E0F9;
  cursor: pointer;
}

.task-progress::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 120ms all ease-in-out;

  /*icon*/
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f828";
  color: var(--progress);
}

.task-progress:checked::before {
  color: #fff;
}

.task-progress:checked {
  background-color: var(--progress);
}

/*remove-task*/
.remove-task{
  border: 4px solid var(--remove);
}

.remove-task:hover{
  background-color: #FFCBBD;
  cursor: pointer;
}

.remove-task::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 120ms all ease-in-out;

  /*icon*/
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f2ed";
  color: var(--remove);
}

/*  BTN  */
button{
  appearance: none;
  border: none;
  outline: none;
  width: 249px;
  height: fit-content;
  background-color: var(--primary);
  border-radius: 5px;
  color: #fff;
  font-family: inherit;
  font-size: 18px;
  padding: 15px 0;
  transition: all 0.5s ease;
}

button i{
  margin-right: 5px;
}

button:hover{
  background-color: #428EFF;
  cursor: pointer;
}

/*  sort  */
.fa-sort{
  cursor:pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li{
 padding: 5px;
 font-weight: 400;
}

.dropdown-content li:hover{
 background-color: #E8E8E8;
 cursor: pointer;
}

.dropdown-content li.selected{
 background-color: #A9A9A9;
 font-weight: 700;

}
